body{
   color: rgb(255, 255, 255);
   background-color: #b3afaf;
    font-family:Arial,sans-serif;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
.heading{
    font-size:4em;
    color:rgb(97, 96, 96);
    margin-bottom: 20px;
}

.caption{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.container{
    border: solid 1px #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/5;
}

.row{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.count{
    font-size: 25px;
}

input[type="button"]{
    font-size: 2em;
    padding: 5px;
    width:200px;
    background-color: blueviolet;
    color: white;
    border: none;
    height: 100px;;
    border-radius: 20px;
}